image:
  repository: coredns/coredns
  tag: "1.11.1"
replicaCount: 2
service:
  type: ClusterIP
  clusterIP: 172.20.0.10
resources:
  limits:
    memory: 170Mi
    cpu: 100m
  requests:
    memory: 70Mi
    cpu: 100m
podAnnotations:
  prometheus.io/port: "9153"
  prometheus.io/scrape: "true"
tolerations:
  - key: node-type
    operator: Equal
    value: core
    effect: NoSchedule
servers:
  - zones:
      - zone: "."
    port: 53
    plugins:
      - name: errors
      - name: health
        configBlock: lameduck 5s
      - name: ready
      - name: kubernetes
        parameters: cluster.local in-addr.arpa ip6.arpa
        configBlock: |
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
          ttl 30
      - name: prometheus
        parameters: 0.0.0.0:9153
      - name: forward
        parameters: . /etc/resolv.conf
        configBlock: max_concurrent 1000
      - name: cache
        parameters: 30
      - name: loop
      - name: reload
      - name: loadbalance

